on: push
name: deploy
jobs: 
  deploy:
    name: deploy to cluster
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: false
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: pcuesta90/cicd:0.1-${{ github.sha }}